Repository Z3nner/lancer-weapon-fx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node tooling/prettier/prettier-packs.js

.lintstagedrc:

{
	"scripts/**/*": "prettier --write",
	"packs_source/**/*": "node tooling/prettier/prettier-packs.js",
	"lang/**/*": "prettier --write",
	"tooling/**/*": "prettier --write",
	"test/**/*": "prettier --write"
}

Update Direct_Hit_1_Ve9GIWf7kSiigqWe.js
  packs_source/weaponfx/Effects/Direct_Hit_1_Ve9GIWf7kSiigqWe.js
Due: node tooling/prettier/prettier-packs.js

Added Files to preload Crushing_Hit_5ca9voXKeVdi65Jq.js
  packs_source/weaponfx/Effects/Crushing_Hit_5ca9voXKeVdi65Jq.js
Due: node tooling/prettier/prettier-packs.js

fix: add missing quote mark
  packs_source/weaponfx/Effects/Direct_Hit_1_Ve9GIWf7kSiigqWe.js
Due: node tooling/prettier/prettier-packs.js

chore: format
  packs_source/weaponfx/Effects (Manual)/Designate_Pinaka_Area_D8E9YpHQsJhxBLvs.js
  packs_source/weaponfx/Effects/Critical_Reactor_Failure_a7DXxn79DVbAPaUr.js
  packs_source/weaponfx/Effects/Critical_Reactor_Failure_a7DXxn79DVbAPaUr.json
  packs_source/weaponfx/Effects/Crushing_Hit_5ca9voXKeVdi65Jq.js
  packs_source/weaponfx/Effects/Crushing_Hit_5ca9voXKeVdi65Jq.json
  packs_source/weaponfx/Effects/Destabilized_Power_Plant_wrf2itcyUdhhtp10.js
  packs_source/weaponfx/Effects/Destabilized_Power_Plant_wrf2itcyUdhhtp10.json
  packs_source/weaponfx/Effects/Direct_Hit_1_Ve9GIWf7kSiigqWe.json
  packs_source/weaponfx/Effects/Direct_Hit_2_SvcZLX9gpQVvBCiz.js
  packs_source/weaponfx/Effects/Direct_Hit_2_SvcZLX9gpQVvBCiz.json
  packs_source/weaponfx/Effects/Emergency_Shunt_PqOetB3o4alRMk7d.js
  packs_source/weaponfx/Effects/Emergency_Shunt_PqOetB3o4alRMk7d.json
  packs_source/weaponfx/Effects/Glancing_Blow_Y3Wr42OhV4dX4OrG.js
  packs_source/weaponfx/Effects/Glancing_Blow_Y3Wr42OhV4dX4OrG.json
  packs_source/weaponfx/Effects/Irreversible_Meltdown_NOSrDkl2OasBwB9Z.js
  packs_source/weaponfx/Effects/Irreversible_Meltdown_NOSrDkl2OasBwB9Z.json
  packs_source/weaponfx/Effects/Meltdown_EjhXUapgr82imuAa.js
  packs_source/weaponfx/Effects/Meltdown_EjhXUapgr82imuAa.json
  packs_source/weaponfx/Effects/Overcharge_QAV4DZC2jNCCsigl.js
  packs_source/weaponfx/Effects/Overcharge_QAV4DZC2jNCCsigl.json
  packs_source/weaponfx/Effects/Power_Failure_nUA4TUbz5Ocb7ny5.js
  packs_source/weaponfx/Effects/Power_Failure_nUA4TUbz5Ocb7ny5.json
  packs_source/weaponfx/Effects/Pre_System_Trauma_tmK1gddkTSmKuOg8.js
  packs_source/weaponfx/Effects/Pre_System_Trauma_tmK1gddkTSmKuOg8.json
  packs_source/weaponfx/Effects/Stabilize_77szM2o5ThaLsJax.js
  packs_source/weaponfx/Effects/System_Trauma_EGtaSw7oQsGz2sqZ.js
  packs_source/weaponfx/Effects/System_Trauma_EGtaSw7oQsGz2sqZ.json
Due: node tooling/prettier/prettier-packs.js

fix(manager): support v12 async actor link creation
  scripts/effectManager/app.js
Due: prettier --write

Fix jb2a db address change in hammer macro
  packs_source/weaponfx/Effects/Hammer_uIr2lCpJWXbDaowG.js
Due: node tooling/prettier/prettier-packs.js

fix(effects): correctly fetch effect filenames for texture updates
  packs_source/weaponfx/Effects (Manual)/Designate_Pinaka_Area_D8E9YpHQsJhxBLvs.js
  packs_source/weaponfx/Effects (Manual)/Designate_Smoke_Grenade_ZNQDndUit13iQDfV.js
  packs_source/weaponfx/Effects (Manual)/Designate_Smoke_Mine_EiG9UfyeoHsXCX3L.js
Due: node tooling/prettier/prettier-packs.js

fix(manager): catch bad folder IDs earlier and add more data validation
  scripts/effectManager/app.js
  scripts/effectManager/models.js
Due: prettier --write

Remove Warpgate, Add WinterScar
  packs_source/weaponfx/Effects (Manual)/ElectricExplodeOnClick_Hlf1weIjm3FsVE9Z.js
  packs_source/weaponfx/Effects (Manual)/ExplodeOnClick_BHTzvudu6KcxJI7p.js
  packs_source/weaponfx/Effects/Shock_Claws_gU5BP1wousYVM6jS.js
  packs_source/weaponfx/Effects/Shock_Claws_gU5BP1wousYVM6jS.json
  packs_source/weaponfx/Effects/Shrapnel_Cannon_tiIQsogSvW5B4Wso.js
  packs_source/weaponfx/Effects/Shrapnel_Cannon_tiIQsogSvW5B4Wso.json
  scripts/weaponEffects.js
Due: prettier --write, node tooling/prettier/prettier-packs.js

fix(resolver): use correct LID casing when searching for matching effect
  scripts/effectResolver/effectResolverCustom.js
Due: prettier --write

fix: correctly set volume for Warp Rifle sound
  packs_source/weaponfx/Effects/Warp_Rifle_jGNjJXWRQMh7jPhA.js
Due: node tooling/prettier/prettier-packs.js

Adds Kais Rebaked NPCs to the list
  scripts/weaponEffects.js
Due: prettier --write

added missing preload file to flechette launcher
  packs_source/weaponfx/Effects/Flechette_Launcher_4znqR8pQvSs3KpZo.js
Due: node tooling/prettier/prettier-packs.js

created tokenheightoffset class
  scripts/tokenHeightOffset.js
Due: prettier --write

added tokenheight offset to api, isisometric, and screenshake checks. also screenshake settings.
  scripts/api.js
  scripts/settings.js
Due: prettier --write

Cleaned up TokenHeightOffset, split into methods, added method docs. renamed getTokenHeightOffset moveTowards arg to useAbsoluteCoords.
  scripts/tokenHeightOffset.js
Due: prettier --write

renamed api.getTokenHeightOffset randomOffset_ arg to randomOffset & moveTowards to useAbsoluteCoords.
  scripts/api.js
Due: prettier --write

moved up screenshake settings
  scripts/settings.js
Due: prettier --write

removed 'screenshake enabled' setting as it was superfluous.
  scripts/api.js
  scripts/settings.js
Due: prettier --write

added english strings for screenshake intensity settings.
  lang/en.json
Due: prettier --write

removed screenshake enabled setting artifacts
  scripts/api.js
  scripts/settings.js
Due: prettier --write

removed some console logging i left in while debugging
  scripts/tokenHeightOffset.js
Due: prettier --write

Add minimum socketlib to required modules
  module.json
Due: none

Adds rebaked Wallflower NPCs
  scripts/weaponEffects.js
Due: prettier --write

fix(heuristic): support NPC items in heuristics
  scripts/flow/WeaponAttackFlow/heuristic.js
Due: prettier --write

fix incorrect preload line
  packs_source/weaponfx/Effects/Assault_Rifle_R006179gUEan7xqn.js
Due: node tooling/prettier/prettier-packs.js

added sequencer version checks and corrections for sequencer version 3.5.4
  scripts/tokenHeightOffset.js
Due: prettier --write

reverting volume changes
  packs_source/weaponfx/Effects/AMR_RPjF4SvsMP3dolyX.js
  packs_source/weaponfx/Effects/Annihilator_XYVkQ3LALbGc6B7i.js
  packs_source/weaponfx/Effects/Assault_Rifle_R006179gUEan7xqn.js
  packs_source/weaponfx/Effects/Bolt_Thrower_6lzGhwqHNYxXY25N.js
  packs_source/weaponfx/Effects/Brood_Siblings_Molt_qfPYlbW1NHKOEJXF.js
  packs_source/weaponfx/Effects/Cyclone_Pulse_Rifle_1me7RVE8gdTnu9lk.js
  packs_source/weaponfx/Effects/Fuel_Rod_Gun_5B4QaBx52NzRhdum.js
  packs_source/weaponfx/Effects/HMG_X6m0372eLE56NK6l.js
  packs_source/weaponfx/Effects/Hammer_uIr2lCpJWXbDaowG.js
  packs_source/weaponfx/Effects/Impact_Lance_gciDprfhVSDqYDPd.js
  packs_source/weaponfx/Effects/Kraul_Rifle_eyeOAl8lFp0w3Hfd.js
  packs_source/weaponfx/Effects/Missile_4M655uuaKwHfZJfZ.js
  packs_source/weaponfx/Effects/Missiles_bfFuD6eL09TcBLIN.js
  packs_source/weaponfx/Effects/Mortar_sSGstellhxzWUTXd.js
  packs_source/weaponfx/Effects/PPC_LxQMeItXellYRt3b.js
  packs_source/weaponfx/Effects/Railgun_iOD860W9KokfR3Hy.js
  packs_source/weaponfx/Effects/Shotgun_NMU9syMKa0dTsINf.js
Due: node tooling/prettier/prettier-packs.js

Adds Rebaked Strider
  scripts/weaponEffects.js
Due: prettier --write

add support for Monstrosity effects in structure flows
  scripts/flow/flowListener.js
  scripts/weaponEffects.js
Due: prettier --write

fix(effect): correct smoke grenade/mine AoE sizing
  packs_source/weaponfx/Effects (Manual)/Designate_Smoke_Grenade_ZNQDndUit13iQDfV.js
  packs_source/weaponfx/Effects (Manual)/Designate_Smoke_Mine_EiG9UfyeoHsXCX3L.js
Due: node tooling/prettier/prettier-packs.js

feat: add support for Monstrosity effects in structure flows
  scripts/flow/flowListener.js
  scripts/weaponEffects.js
Due: prettier --write

feat(build): add bundler, file watcher, and hot-reload
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  example.foundryconfig.json
  module.json
  package-lock.json
  package.json
  tooling/rollup/foundry-path.js
  tooling/rollup/plugin-watch.js
  tooling/rollup/rollup.config.js
Due: prettier --write

fix(effect): replace deprecated `.from` with `.atLocation`
  packs_source/weaponfx/Effects (Manual)/MissileAirBurst_1ntDWMtnxAA1uZMH.js
  packs_source/weaponfx/Effects/CannonAirburst_FL83T6qsM9zFOdAQ.js
  packs_source/weaponfx/Effects/Shrapnel_Cannon_tiIQsogSvW5B4Wso.js
Due: node tooling/prettier/prettier-packs.js

fix(effect): replace missing file paths
  packs_source/weaponfx/Effects/Brood_Siblings_Molt_qfPYlbW1NHKOEJXF.js
  packs_source/weaponfx/Effects/Plasma_Maul_gBqPs99uLDUAroZu.js
Due: node tooling/prettier/prettier-packs.js

fix(effect): migrate usages of `canvas.grid.measureDistance`
  packs_source/weaponfx/Effects/ArcBow_SvEgMaioDs6CiqaK.js
  packs_source/weaponfx/Effects/Railgun_iOD860W9KokfR3Hy.js
  packs_source/weaponfx/Effects/Veil_Rifle_6vtYP47LXaX5POYB.js
Due: node tooling/prettier/prettier-packs.js

fix(effect): migrate usages of `canvas.grid.grid`
  packs_source/weaponfx/Effects/Combat_Drill_Tyi49hWX1axZsrq2.js
Due: node tooling/prettier/prettier-packs.js
