Repository Z3nner/lancer-weapon-fx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, node tooling/prettier/prettier-packs.js

.lintstagedrc:

{
	"scripts/**/*": "prettier --write",
	"packs_source/**/*": "node tooling/prettier/prettier-packs.js",
	"lang/**/*": "prettier --write",
	"tooling/**/*": "prettier --write",
	"test/**/*": "prettier --write"
}

refactor: rework effect resolution to allow fallbacks/future expansion
  scripts/effectResolver/effectResolver.js
  scripts/effectResolver/weaponEffects.js
  scripts/flow/common.js
  scripts/flow/flowListener.js
  test/weaponEffects.test.js
  tooling/create-new-effect.mjs
Due: prettier --write

fix(tooling): avoid crash on missing directory
  tooling/create-new-effect.mjs
Due: prettier --write

feat(resolver): use case- and whitespace-insensitive search for macros
  scripts/effectResolver/effectResolver.js
Due: prettier --write

feat(flow): split structure damage/overheating into per-result keys
  scripts/flow/flowListener.js
Due: prettier --write

feat(flow): add effect-guessing heuristic for unknown weapons
  lang/en.json
  scripts/effectResolver/weaponEffects.js
  scripts/flow/WeaponAttackFlow/heuristic.js
  scripts/flow/flowListener.js
  scripts/settings.js
Due: prettier --write

chore: update for compatibility with v12
  module.json
  scripts/flow/common.js
  tooling/run-all-macros.js
Due: prettier --write

chore: remove unused v10 version gate
  scripts/flow/flowListener.js
Due: prettier --write

feat: add custom effect manager
  .github/workflows/release.yml
  css/effects-manager.css
  css/helpers.css
  lang/en.json
  module.json
  scripts/WeaponFX.js
  scripts/api.js
  scripts/consts.js
  scripts/effectManager/app.js
  scripts/effectManager/consts.js
  scripts/effectManager/effectManager.js
  scripts/effectManager/models.js
  scripts/effectResolver/effectResolver.js
  scripts/flow/flowListener.js
  scripts/settings.js
  scripts/utils.js
  templates/effectManager/effect-manager.hbs
  templates/effectManager/partial/effect-row.hbs
  templates/effectManager/partial/folder-row.hbs
  tours/effect-manager.json
Due: prettier --write

Update module.json
  module.json
Due: none

Update README.md
  README.md
Due: none

fix(resolver): allow custom fallback ID effects
  scripts/effectResolver/effectResolver.js
Due: prettier --write

feat(manager): add typeahead to "Lancer ID" field
  README.md
  scripts/effectManager/app.js
  scripts/effectResolver/effectResolver.js
  scripts/flow/common.js
  scripts/weaponEffects.js
  templates/effectManager/effect-manager.hbs
  templates/effectManager/partial/effect-row.hbs
  test/weaponEffects.test.js
  tooling/create-new-effect.mjs
Due: prettier --write

feat(manager): allow folder to have an actor assigned
  css/effects-manager.css
  css/helpers.css
  lang/en.json
  scripts/effectManager/app.js
  scripts/effectManager/models.js
  scripts/effectResolver/effectResolver.js
  scripts/effectResolver/effectResolverCustom.js
  scripts/flow/flowListener.js
  templates/effectManager/partial/folder-row.hbs
  tours/effect-manager.json
Due: prettier --write

feat(resolver): prefer "name" over "lid" during resolution
  scripts/effectResolver/effectResolverCustom.js
Due: prettier --write

feat(flow): add support for "Lancer Alternative Structure" results
  README.md
  scripts/flow/flowListener.js
Due: prettier --write

Update release.yml
  .github/workflows/release.yml
Due: none

Add New sfx
  soundfx/DirectHitExplosion1.ogg
  soundfx/DirectHitExplosion2.ogg
  soundfx/EmergencyShunt.ogg
  soundfx/ReactorWarning.ogg
  soundfx/overcharge.ogg
  soundfx/ricochet.ogg
Due: none

fix: rename incorrectly-cased files
  advisories/CriticalReactorFailure.svg
  advisories/DestabilizedPowerPlant.svg
  advisories/IrreversibleMeltdown.svg
  advisories/Meltdown.svg
  advisories/PowerFailure.svg
  soundfx/Overcharge.ogg
Due: none

fix(app): deduplicate typeahead LIDs
  scripts/effectManager/app.js
Due: prettier --write

feat(settings): allow disabling "Gear"/"Wear and Tear" default effects
  lang/en.json
  scripts/effectManager/app.js
  scripts/effectResolver/effectResolver.js
  scripts/settings.js
  scripts/weaponEffects.js
  test/weaponEffects.test.js
Due: prettier --write

Update Critical_Reactor_Failure_a7DXxn79DVbAPaUr.js
  packs_source/weaponfx/Effects/Critical_Reactor_Failure_a7DXxn79DVbAPaUr.js
Due: node tooling/prettier/prettier-packs.js

Update Crushing_Hit_5ca9voXKeVdi65Jq.js
  packs_source/weaponfx/Effects/Crushing_Hit_5ca9voXKeVdi65Jq.js
Due: node tooling/prettier/prettier-packs.js

Update Designate_Pinaka_Area_D8E9YpHQsJhxBLvs.js
  packs_source/weaponfx/Effects (Manual)/Designate_Pinaka_Area_D8E9YpHQsJhxBLvs.js
Due: node tooling/prettier/prettier-packs.js

Update Designate_Smoke_Grenade_ZNQDndUit13iQDfV.js
  packs_source/weaponfx/Effects (Manual)/Designate_Smoke_Grenade_ZNQDndUit13iQDfV.js
Due: node tooling/prettier/prettier-packs.js

Update Designate_Smoke_Mine_EiG9UfyeoHsXCX3L.js
  packs_source/weaponfx/Effects (Manual)/Designate_Smoke_Mine_EiG9UfyeoHsXCX3L.js
Due: node tooling/prettier/prettier-packs.js

Update Direct_Hit_1_Ve9GIWf7kSiigqWe.js
  packs_source/weaponfx/Effects/Direct_Hit_1_Ve9GIWf7kSiigqWe.js
Due: node tooling/prettier/prettier-packs.js

Update Direct_Hit_2_SvcZLX9gpQVvBCiz.js
  packs_source/weaponfx/Effects/Direct_Hit_2_SvcZLX9gpQVvBCiz.js
Due: node tooling/prettier/prettier-packs.js

Update Emergency_Shunt_PqOetB3o4alRMk7d.js
  packs_source/weaponfx/Effects/Emergency_Shunt_PqOetB3o4alRMk7d.js
Due: node tooling/prettier/prettier-packs.js

Update Glancing_Blow_Y3Wr42OhV4dX4OrG.js
  packs_source/weaponfx/Effects/Glancing_Blow_Y3Wr42OhV4dX4OrG.js
Due: node tooling/prettier/prettier-packs.js

Update Irreversible_Meltdown_NOSrDkl2OasBwB9Z.js
  packs_source/weaponfx/Effects/Irreversible_Meltdown_NOSrDkl2OasBwB9Z.js
Due: node tooling/prettier/prettier-packs.js

Update Meltdown_EjhXUapgr82imuAa.js
  packs_source/weaponfx/Effects/Meltdown_EjhXUapgr82imuAa.js
Due: node tooling/prettier/prettier-packs.js

Update Stabilize_77szM2o5ThaLsJax.js
  packs_source/weaponfx/Effects/Stabilize_77szM2o5ThaLsJax.js
Due: node tooling/prettier/prettier-packs.js

Update System_Trauma_EGtaSw7oQsGz2sqZ.js
  packs_source/weaponfx/Effects/System_Trauma_EGtaSw7oQsGz2sqZ.js
Due: node tooling/prettier/prettier-packs.js
